<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Predictor de precios</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <form method="POST" action="/formulario">
    <h1>Predictor de precios de Autos</h1>
    <h2>Ingrese los siguientes datos para conocer el precio</h2>

    <label for="year">Year:</label>
    <input type="text" name="year" required>

    <label for="mileage">Mileage:</label>
    <input type="text" name="mileage" required>

    <label for="city">City:</label>
    <input type="text" name="city" required>

    <label for="state">State:</label>
    <input type="text" name="state" required>

    <label for="make_number">Make number:</label>
    <input type="text" name="make_number" required>

    <label for="model_number">Model number:</label>
    <input type="text" name="model_number" required>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
