<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Resultado de la Predicción</h1>
    <pre><%= JSON.stringify(result, null, 2) %></pre>
    <a href="/">Volver al inicio</a>
  </body>
</html>
